
 body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;    
    overflow-x: hidden;   
    width: auto; 
}

html{
    overflow-x: hidden;
}

 a {    
    font-size:12px;
    text-decoration:none;
    color: white;
    font-weight:bold;
    }

 /* Первый блок  + хедер  */
 header{    
    display: flex;   
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
    background-image: url(img/img.png);
    background-size: cover;
  
   }
   
 nav{    
        display: flex;   
        justify-content: space-between;
        border-bottom: solid 1px rgba(255, 255, 255, 0.3);    
        width: 65%;
        margin: 0 15% 0 15%;
       
     }

 
 .header_section{
    display: flex;
    align-items: center;    
    margin: 0;
    padding: 0;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: space-between;}

  


  .logo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 20% 0 0;
 
}
 

li {
      font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    }



.caption{   
    padding: 0;
    margin: 0;
    margin-top: 151px;
    text-align: center;       
    font-size: 65px;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    
}

.main-paragraph{    
    padding: 0;
    margin: 0;     
    margin-top: 55px;            
    font-size: 22px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;  
    line-height: 33px; 
}

.button-red{
padding: 0;
margin: 0; 
margin-top: 76px;
margin-bottom: 155px;
background:#E84545;
border: 0;
outline: none;
color: white;
height: 50px;
width: 200px;

}

.button-red:hover{
background: rgba(232, 69, 69, 0.7);
}
.button-red:active{
    background:red;
    }
    
   
.block-2{
    display: flex; 
    flex-direction: column;   
    justify-content: space-around;  
    width: 100%;
    height: auto;
}
.container_1{
    display: flex;    
    justify-content: space-around;
    margin-top: 120px;
    margin-bottom: 50px;
    margin-left: 230px;
    margin-right: 230px;
   
}
.container_2{
    display: flex;    
    justify-content: space-around;
    margin-bottom: 120px;
    margin-left: 230px;
    margin-right: 230px;
}
.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
    text-align: center;  
    margin: 25px;  
    padding: 0;
}
.element p{
    font-size: 14px;
    line-height: 21px;
    color: #6c7279;
}

h3{
    text-transform: uppercase;
    margin-bottom: 0;
    } 

    .main_block_3{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;   
       
    }

    .section-works{
        display: flex;
        justify-content:space-around;       
        
    }
    .works{
      max-width: 100%;      
      width: 25%;
      height: auto;
      border: 1px solid white;
      object-fit: cover;     
    }
    
/* Четвёртый блок */

    .main_block_4{
        display: flex;  
        width: 100%; 
        height: auto;     
        margin: 0;
        padding: 0;       
        padding-bottom: 135px;

    }
    .pics {
        display: flex;
        flex-direction: column;
        margin: 32px;    
        width: 100%; 
        height: auto; 
       
    }


    .pics:last-child{
        margin-right: 10%; 
        
    }

    .pics:first-child{
        margin-left: 10%; 
    }

    .icon-block-4{
        display: flex;        
    }




    /* два футера */
 /* первый футер */
 footer{
    color: white;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100%;
    
    }


.footer_container_1{
    display: flex;
    color: white;
    justify-content: space-around;
    height: 250px;
    width: 100%;
    background-color: #3a3e64;
    }

.footer-box{
    display: flex;
    flex-direction: column;   
    margin: 0;
   
}

.footer-box p{
    display: flex;
    flex-direction: column;
    align-items: center;            
    font-size: 14px;
    line-height: 22.5px;
    color: rgba(255, 255, 255, 0.5);    
   
}

h4 {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;    
    margin-top: 20px;
    margin-bottom: 20px;
}


.footer_icon {
   margin: 0;
}

    /* Второй футер */

    .footer_container_2{
    display: flex;
    justify-content: space-around;
    background-color: #313454;
    padding-top: 25px;
    padding-bottom: 30px;
    text-align: center;
    }

    .footer_container_2 p{
        color: #808080;
        font-size: 14px;
        line-height: 22.5px;}
  

 
 .made{
     color: white;
 }
 .heart{
     color: red;
      }